.select2 *,
.select2-container * {
  box-shadow: none !important;

  .select2-results__option--selected {
    background-color: #417ace !important;
  }
}

.select2-container--bootstrap-5 .select2-dropdown {
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  margin-top: 0 !important;
  position: relative !important;
}
