<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.1-dist/css/bootstrap.min.css" />

    <!-- Boxicons -->
    <link rel="stylesheet" href="~/lib/boxicons-2.1.4/css/boxicons.min.css" />

    <!-- DataTables -->
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet">
    <link href="~/lib/datatables/buttons.dataTables.min.css" rel="stylesheet">

    <!-- MZN -->
    <link href="~/lib/mzn/css/mzn.css" rel="stylesheet" asp-append-version="true">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/control-panel/dist/style.css" asp-append-version="true" />

</head>

<body class="c-scroll">

    <!-- Main Header -->
    <header id="header" class="header d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center gap-2">
                <button type="button" 
                    class="border-0 bg-transparent justify-content-center align-items-center open-sidenav-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="d-flex flex-row-reverse gap-2 align-items-center">
                <div class="dropdown">
                    <a class="p-0 ps-1" href="#" id="profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <img src="~/img/mazen2.png" class="rounded-img" />
                    </a>
                    <ul class="dropdown-menu profile-menu py-0 overflow-hidden" aria-labelledby="profile-dropdown">
                        <li>
                            <a class="dropdown-item d-flex gap-2 py-3" href="#">
                                <img src="~/img/mazen2.png" class="rounded-img" />
                                <div class="d-flex flex-column">
                                    <span class="fw-bold">Mazen Salah</span>
                                    <span class="text-secondary short-text">Admin</span>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item py-2 d-flex gap-3 align-items-center" href="#">
                                <i class="fa-solid fa-user"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item py-2 d-flex gap-3 align-items-center logout" href="#">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Index"
                    class="btn btn-outline-primary">
                    View Website
                </a>
            </div>
        </div>
    </header>
    <!-- End Main Header -->

    <!-- Overlay Behind SideNav in Small Screens -->
    <div class="sidenav-overlay">

    </div>
    <!-- / Overlay Behind SideNav in Small Screens -->

    <!-- Side Navigation -->
    <nav class="sidenav h-100" id="sidenav">
        <div class="wrapper c-scroll dark-scroll d-flex flex-column justify-content-between h-100 overflow-y-scroll overflow-x-hidden">
            <div>
                <div class="d-flex justify-content-end upper-box">
                    <button type="button" class="bg-transparent border-0 justify-content-center align-items-center close-sidenav-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <ul class="list-unstyled m-0 accordion" id="sidenavAccordion">
                    <li>
                        <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                               class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Dashboard") WriteLiteral("active");">
                            <i class="fa-solid fa-table-columns navlink-icon"></i>
                            <span class="navlink-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header">
                            <a href="javascript:void(0)"
                                class="accordion-button d-flex align-items-center gap-1 c-link text-decoration-none text-white d-flex align-items-center justify-content-between sidenav-item" 
                                data-bs-toggle="collapse" data-bs-target="#adminsMenu" 
                                aria-expanded="@{
                                    if(ViewData["Page"] == "Admins" || ViewData["Page"] == "AdminRoles") 
                                        WriteLiteral("true");
                                    else
                                        WriteLiteral("false");       
                                }" aria-controls="adminsMenu">
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-wrench navlink-icon"></i>
                                    <span class="navlink-text">Admins</span>
                                </div>
                                <i class="fa-solid fa-angle-right drowdown-arrow"></i>
                            </a>
                        </div>
                        <div id="adminsMenu" class="accordion-collapse collapse @{
                            
                            if (ViewData["Page"] == "Admins" || ViewData["Page"] == "AdminRoles")
                                WriteLiteral("show");

                            }" data-bs-parent="#sidenavAccordion">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Admins") WriteLiteral("active");">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Admins</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="AdminRole" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "AdminRoles") WriteLiteral("active");">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Admin Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a asp-area="ControlPanel" asp-controller="User" asp-action="Index"
                           class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Users") WriteLiteral("active");">
                            <i class="fa-solid fa-user-group navlink-icon"></i>
                            <span class="navlink-text">Users</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="ControlPanel" asp-controller="Post" asp-action="Index"
                           class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Posts") WriteLiteral("active");">
                            <i class="fa-regular fa-newspaper navlink-icon"></i>
                            <span class="navlink-text">Posts</span>
                        </a>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header">
                            <a href="javascript:void(0)"
                               class="accordion-button d-flex align-items-center gap-1 c-link text-decoration-none text-white d-flex align-items-center justify-content-between sidenav-item"
                               data-bs-toggle="collapse" data-bs-target="#matchesMenu"
                               aria-expanded="@{
                                    if(ViewData["Page"] == "Matches" || ViewData["Page"] == "Clubs")
                                        WriteLiteral("true");
                                    else
                                        WriteLiteral("false");
                                }" aria-controls="matchesMenu">
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-regular fa-futbol navlink-icon"></i>
                                    <span class="navlink-text">Football</span>
                                </div>
                                <i class="fa-solid fa-angle-right drowdown-arrow"></i>
                            </a>
                        </div>
                        <div id="matchesMenu" class="accordion-collapse collapse @{

                            if (ViewData["Page"] == "Matches" || ViewData["Page"] == "Clubs")
                                WriteLiteral("show");

                            }" data-bs-parent="#sidenavAccordion">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Match" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "Matches") WriteLiteral("active");">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Matches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Club" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "AdminRoles") WriteLiteral("active");">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Clubs</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="League" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item @if(ViewData["Page"] == "AdminRoles") WriteLiteral("active");">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Leagues</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header">
                            <a class="accordion-button d-flex align-items-center gap-1 c-link text-decoration-none text-white d-flex align-items-center justify-content-between sidenav-item"
                               href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#shoppingMenu" aria-expanded="false" aria-controls="shoppingMenu">
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-store navlink-icon"></i>
                                    <span class="navlink-text">Shopping</span>
                                </div>
                                <i class="fa-solid fa-angle-right drowdown-arrow"></i>
                            </a>
                        </div>
                        <div id="shoppingMenu" class="accordion-collapse collapse" data-bs-parent="#sidenavAccordion">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Sales</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Stores</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Carts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header">
                            <a class="accordion-button d-flex align-items-center gap-1 c-link text-decoration-none text-white d-flex align-items-center justify-content-between sidenav-item"
                               href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#reportsMenu" aria-expanded="false" aria-controls="reportsMenu">
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-regular fa-flag navlink-icon"></i>
                                    <span class="navlink-text">Reports</span>
                                </div>
                                <i class="fa-solid fa-angle-right drowdown-arrow"></i>
                            </a>
                        </div>
                        <div id="reportsMenu" class="accordion-collapse collapse" data-bs-parent="#sidenavAccordion">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">All</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Post Reports</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Comment Reports</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Rating Reports</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                                       class="text-decoration-none text-white d-flex align-items-center gap-3 sidenav-item">
                                        <i class="fa-solid fa-circle navlink-icon submenu-item-icon"></i>
                                        <span class="navlink-text">Report Types</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="list-unstyled m-0">
                <li>
                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                       class="text-decoration-none text-white d-flex align-items-center gap-3 mt-0 sidenav-item">
                        <i class="fa-regular fa-user navlink-icon"></i>
                        <span class="navlink-text">My Profile</span>
                    </a>
                </li>
                <li>
                    <a asp-area="ControlPanel" asp-controller="Home" asp-action="Index"
                       class="text-decoration-none text-white d-flex align-items-center gap-3 mt-0 sidenav-item">
                        <i class="fa-solid fa-arrow-right-from-bracket navlink-icon"></i>
                        <span class="navlink-text">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Side Navigation -->

    <!-- Content -->
    <div class="content-area">
        @RenderBody()
    </div>
    <!-- / Content -->

    <!-- Primary Footer -->
    <footer class="primary-footer">
        <div class="text-center p-4 footer-bottom">
            © 2023 Designed and Developed by
            <a class="text-reset fw-bold" target="_blank" href="https://www.linkedin.com/in/masalah-tech/">Mazen Salah</a>
        </div>
    </footer>
    <!-- / Primary Footer -->

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/0ce17fc271.js" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <script src="~/lib/datatables/datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/datatables/dataTables.buttons.min.js"></script>

    <!-- MZN -->
    <script src="~/lib/mzn/js/mzn.js" asp-append-version="true"></script>

    <!-- Custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>