@{
    ViewData["Title"] = "About";
    ViewData["Page"] = "About";
}

<div class="py-lg-4 px-lg-5">
    <div class="row m-0 pt-2 pt-lg-0">
        <main role="main" class="pb-3 p-0 col-xl-9">
            <!-- About -->
            <div class="content-space p-3 mb-3 text-content-color">
                <h3>About "Football Fan Platform"</h3>
                <div class="content-box mt-3">
                    <div class="mt-3">
                        <p>
                            <em>Football Fan Platform</em> was developed in 2023 by
                            <a class="c-link" target="_blank"
                               href="https://www.linkedin.com/in/masalah-tech/">
                                Mazen Salah
                            </a>
                            to be one of his portofolio projects , then, he decided to publish it.
                        </p>
                        <p>
                            Here, you find latest match fixtures, community for discussions,
                            football-related items to buy or sell, some simple games, and much more!
                        </p>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <h4 class="text-subtitle-color">
                            MATCH FIXTURES
                        </h4>
                        <p>
                            Stay up to date with latest match fixtures of six leagues
                            which are:
                        </p>
                        <ol>
                            <li>Roshn Saudi League</li>
                            <li>Champions League</li>
                            <li>La Liga</li>
                            <li>Premier League</li>
                            <li>Seria A</li>
                            <li>World Cup</li>
                        </ol>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <h4 class="text-subtitle-color">
                            PREDICTIONS
                        </h4>
                        <p>
                            You find predictions of future football matches before they start, 
                            also you can add your own prediction and then be notified if it was 
                            right or wrong after the match finishes.
                        </p>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <h4 class="text-subtitle-color">
                            COMMUNITY
                        </h4>
                        <p>
                            Here, you can add your posts and engage with other users through 
                            likes and comments. Community in this platform is specialized in 
                            football-ralated topics, so please don't misuse it. If you find 
                            content that breaks community guidelines, you can report that 
                            content and it will be removed after our team review it.
                        </p>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <h4 class="text-subtitle-color">
                            SHOPPING AND ECOMMERCE
                        </h4>
                        <p>
                            You can browse and buy football-related products.
                        </p>
                        <p>
                            Note (1): The platform is not resposible for tracking
                            or controlling the sales, we are just an intermidate
                            between sellers and customers.
                        </p>
                        <p>
                            Note (1): We don't take any commision from any sale.
                        </p>
                        <p>
                            You also can create your own store and sell
                            items in it.
                        </p>
                    </div>
                </div>
            </div>
            <!-- / About -->
            <!-- Contact us -->
            <div class="content-space p-3 mb-3 text-content-color">
                <h3>Contact us</h3>
                <div class="content-box mt-3">
                    <div class="mt-3">
                        <p>
                            We welcome any collaboration chance. You can contact us
                            either through the contact form below, or through this
                            email: 
                            <a href="mailto:masalah.tech@gmail.com" class="c-link">
                                masalah.tech@gmail.com
                            </a>
                        </p>
                    </div>
                    <div class="mt-3">
                        <h4 class="text-subtitle-color">Contact Form</h4>
                        <form class="form-dark">
                            <div class="mb-3">
                                <label for="contact-name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="contact-name">
                            </div>
                            <div class="mb-3">
                                <label for="contact-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="contact-email">
                            </div>
                            <div class="mb-3">
                                <label for="contact-msg" class="form-label">Message Content</label>
                                <textarea class="form-control" id="contact-msg" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn col-12 btn-primary-dark">Send</button>
                        </form>
                    </div>
                    <hr />
                    <div class="mt-3">
                        <div class="sm-container">
                            <a href="https://www.facebook.com/masalah.tech/" target="_blank" class="sm-icon facebook">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://www.linkedin.com/in/masalah-tech/" target="_blank" class="sm-icon linkedin">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/mezo_san/" target="_blank" class="sm-icon instagram">
                                <i class='bx bxl-instagram'></i>
                            </a>
                            <a href="https://www.youtube.com/@@masalah-tech" target="_blank" class="sm-icon youtube">
                                <i class='bx bxl-youtube'></i>
                            </a>
                            <a href="mailto:masalah.tech@gmail.com" class="sm-icon gmail">
                                <i class="fa-solid fa-envelope"></i>
                            </a>
                            <a href="https://github.com/masalah-tech" target="_blank" class="sm-icon github">
                                <i class='bx bxl-github'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Contact us -->
        </main>
        <aside class="col-xl-3">
            <div class="content-space p-3 mb-3">
                <div class="d-flex justify-content-center align-items-center ad-space">
                    <span>Ad Space</span>
                </div>
            </div>
            <div class="content-space p-3 mb-3">
                <div class="d-flex justify-content-center align-items-center ad-space">
                    <span>Ad Space</span>
                </div>
            </div>
        </aside>
    </div>
</div>