@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admins";
    ViewData["Page"] = "Admins";
}

<div id="addAdminModal" class="modal fade modal-lg" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
               class="text-decoration-none text-muted">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a href="javascript:void(0)" class="btn-label-primary" onclick="showUpsertModal()">Add new admin</a>
        </div>
        <div id="table-container">
            
        </div>
    </div>
</div>


@section Scripts {
    
    <script>

        $('.js-example-basic-single').select2({
            theme: "bootstrap4",
            placeholder: 'Select an option'
        });

        loadTable();

        function loadTable() {
            $(`#table-container`).html(`<div class="loader"><div class="dots"></div></div>`);
            $(`#table-container`).load("@Url.Action("Table")",
                function (responseText, textStatus, XMLHttpRequest) {
                    if (textStatus == "success") {
                        $('#dtlist').DataTable({
                            "processing": true,
                            "serverSide": true,
                            "ajax": {
                                "url": "@Url.Action("TableData")",
                                "type": "POST",
                                "dataSrc": function (json) {
                                    return json.data;
                                }
                            },
                            "columns": [
                                { "data": "id" },
                                {
                                    "data": "profilePhotoPath",
                                    render: function (data, type, row) {
                                        return `<img src="${data}" alt="${row.firstName}" class="circular-user-photo" />`;
                                    }
                                },
                                { "data": "name" },
                                { "data": "role" },
                                { "data": "username" },
                                { "data": "password" },
                                { 
                                    "data": "status",
                                    render: function (data) {
                                        return data ? `<span class="text-success">Active</span>` : `<span class="text-danger">Inactive</span>`;
                                    }
                                },
                                {
                                    "data": "id",
                                    render: function (data, type, row) {
                                        return `<div class="dropdown">
                                                    <a class="fs-5 link-dark d-flex justify-content-center p-0 w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                    </a>

                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <li><a class="dropdown-item">Show details</a></li>
                                                        <li><a class="dropdown-item">Edit details</a></li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                ${row.status ? "<span>Deactivate the admin</span>" : "<span>Activate the admin</span>"}
                                                            </a>
                                                        </li>
                                                        <li><a class="dropdown-item link-danger" href="#">Delete the admin</a></li>
                                                    </ul>
                                                </div>`;
                                    }
                                },
                            ],
                            "columnDefs": [
                                {
                                    "targets": [1, 3, 4, 5, 6, 7],
                                    "orderable": false
                                },
                            ],
                            "order": [[0, "desc"]],
                            "initComplete": function (settings, json) {
                                const tableWrapper =
                                    document.querySelector("div:has(> #dtlist)");

                                tableWrapper.classList.add("c-scroll");
                                tableWrapper.classList.add("c-x-scroll");
                            },
                        });
                    }
                    else {
                        console.log(`Something went wrong while fetching data`);
                    }
                });
        }

        function showUpsertModal(id = 0) {
            $(`#addAdminModal`).modal(`show`);
            $(`#addAdminModal .modal-title`).html("Add New Admin");

            $(`#addAdminModal .modal-body`).html(`<div class="loader"><div class="dots"></div></div>`);
            $(`#addAdminModal .modal-body`).load("@Url.Action("Upsert")" + (id !== null && id !== undefined ? `?id=${id}` : ""),
                function (responseText, textStatus, XMLHttpRequest) {
                    if (textStatus == "success") {
                        
                    }
                    else {
                        console.log(`Something went wrong while fetching data`);
                    }
                });
        }

        function handleUpsertSubmit(senderForm, event) {

            event.preventDefault();

            if (!$(senderForm).valid()) {
                return;
            }

            $(`#addAdminModal .modal-body`).html(`<div class="loader"><div class="dots"></div></div>`);

            const formData = new FormData(senderForm);

            console.log(formData);

            $.ajax({
                method: "post",
                url: "@Url.Action("Upsert")",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {

                    if (data.success) 
                    {
                        console.log(data.message);
                    }

                    $(`#addAdminModal`).modal(`hide`);
                    loadTable();
                },
                error: function (error) {
                    console.log(error);
                    console.log(`Something went wrong while trying to send the request`);
                    $(`#addAdminModal`).modal(`hide`);
                    loadTable();
                }
            });
        }

    </script>
}