@using FFP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="c-datatable-wrapper">
    <table id="dtlist" class="table" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Profile Photo</th>
                <th>Name</th>
                <th>Role</th>
                <th>Username</th>
                <th>Password</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>