@using FFP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Admin

<form method="post" onsubmit="handleUpsertSubmit(this, event)">
    <fieldset class="form-group border mt-2 mb-4 mx-1 px-2 pb-2 pt-4 row">
        <legend class="w-auto px-2">Primary Information</legend>
        <div class="mb-3">
            <div class="profile-photo-wrapper">
                <img src="~/img/user.png" />
                <label for="admin-profile-photo" class="overlay edit-btn">
                    <i class='bx bxs-edit'></i>
                </label>
                <input class="editable-profile-photo" id="admin-profile-photo" type="file" accept="image/*" name="adminPhoto" />
            </div>
        </div>
        <hr />
        <div class="col-md-6 mb-3">
            <div>
                <label asp-for="AdminRoleId" class="form-label">Role</label>
                <select asp-for="AdminRoleId" class="form-control select2">
                    <option selected disabled>-- Choose Role --</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <span asp-validation-for="AdminRoleId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="newAdminFirstName">
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="SecondName" class="form-label">Second Name</label>
            <input asp-for="SecondName" class="form-control" id="newAdminSecondName">
            <span asp-validation-for="SecondName" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminThirdName" class="form-label">Third Name</label>
            <input type="text" class="form-control" id="newAdminThirdName">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="newAdminLastName">
        </div>
        <div class="col-md-6 mb-3">
            <label for="nationality" class="form-label">Nationality</label>
            <select id="nationality" class="form-control select2 countries-dropdown">
                <option selected disabled>-- Choose Nationality --</option>
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminBirthDate" class="form-label">Birth Date</label>
            <input type="date" class="form-control" id="newAdminBirthDate">
        </div>
    </fieldset>
    <fieldset class="form-group border mb-4 mx-1 px-2 pb-2 pt-4 row">
        <legend class="w-auto px-2">Contact Details</legend>
        <div class="col-md-6 mb-3">
            <label for="newAdminPhoneNo" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="newAdminPhoneNo">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="newAdminEmail">
        </div>
    </fieldset>
    <fieldset class="form-group border mb-4 mx-1 px-2 pb-2 pt-4 row">
        <legend class="w-auto px-2">Address Details</legend>
        <div class="col-md-6 mb-3">
            <label for="newAdminAddressCountry" class="form-label">Country</label>
            <input type="text" class="form-control" id="newAdminAddressCountry">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminCity" class="form-label">City</label>
            <input type="text" class="form-control" id="newAdminCity">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminStreet" class="form-label">Street</label>
            <input type="text" class="form-control" id="newAdminStreet">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminAppartmentNo" class="form-label">Appartment No</label>
            <input type="number" class="form-control" id="newAdminAppartmentNo">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminZipCode" class="form-label">Zip Code</label>
            <input type="number" class="form-control" id="newAdminZipCode">
        </div>
    </fieldset>
    <fieldset class="form-group border mb-4 mx-1 px-2 pb-2 pt-4 row">
        <legend class="w-auto px-2">Credentials</legend>
        <div class="col-md-6 mb-3">
            <label for="newAdminUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="newAdminUsername">
        </div>
        <div class="col-md-6 mb-3">
            <label for="newAdminPassword" class="form-label">Password</label>
            <div class="c-eye-pass-box">
                <input type="password" id="newAdminPassword" class="form-control" aria-describedby="newAdminPasswordHelpBlock">
                <div class="c-pass-icon-wrapper">
                    <i class="fa-solid fa-eye c-icon active show-pass-btn"></i>
                    <i class="fa-solid fa-eye-slash c-icon hide-pass-btn"></i>
                </div>
            </div>
            <div id="newAdminPasswordHelpBlock" class="form-text">
                The password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
        </div>
    </fieldset>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<partial name="_ValidationScriptsPartial" />